.grid-list {
 display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  padding: 20px;
  max-width: 100%;
  }
  

  .list-content {
    width: 100%;
    justify-content: baseline;
    align-items: baseline;
  }
  