.grid-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
  gap: 16px; /* Space between grid items */
  padding: 20px; /* Padding around the grid */
  max-width: 100%; /* Ensure the grid doesn't exceed the container width */
}
  

  .list-content {
    width: 100%;
    justify-content: baseline;
    align-items: baseline;
  }
  
  .add-item-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  @media (max-width: 768px) {
    .grid-list {
      grid-template-columns: 1fr; /* Single column on small screens */
    }
  }