* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: large;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 40px;
    background-color: #ffffff;
}

.navbar-logo .logo-image {
    width: 220px;
    height: auto;
}

.navbar-links {
    list-style-type: none;
    display: flex;
    gap: 40px;
}

.navbar-links li a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}


.preview-button {
    background-color: transparent;
    border: none;
    color: #2979ff; /* Bright blue color */
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
}

.preview-button:hover {
    text-decoration: underline;
}
